MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=maven_fuzzy_factory
MYSQL_USER=airbyte
MYSQL_PASSWORD=airbyte
MYSQL_PORT=3306
PMA_PORT=8095
CSV_DIR=/home/tu_usuario/ruta/a/los/csvs

MB_PORT=3000
MB_PLUGINS_DIR=/plugins
MB_DB_DBNAME=metabase